.form
    &-block
        display: flex
        justify-content: center
        align-items: center
        align-content: center
    &__input
        width: 250px
        background: none
        border: none
        border-bottom: 2px solid #D3F7FF
        border-radius: 3px
        outline: none
        font-weight: 600
        font-size: 24px
        color: #D3F7FF
    &__btn
        width: 32px
        height: 32px
        background: none
        border: none
        cursor: pointer
        margin-left: 7px