.city
    padding-top: 100px
    &-block
        color: #fff
        background: rgba(255, 255, 255, 0.35)
        border-radius: 13.9839px
        display: flex
        flex-direction: column
    &__header
        display: flex
        align-items: center
        text-align: center
    &__name
        font-weight: 700;
        font-size: 40px