body
  height: 100%
  box-sizing: border-box
  background: #38C1F3
  color: #D3F7FF
  font-family: Open Sans
  font-style: normal


.container
  max-width: 580px
  margin: 0 auto
  display: flex
  justify-content: center

ul
  list-style-type: none
  margin-top: 0
  margin-bottom: 0
  padding-left: 0

